/ start: Meta
%meta{charset: "utf-8"}/
= csrf_meta_tags
%title= content_for?(:title) ? "#{yield(:title)} | OC Digital" : "Custome Web Application Development | OC Digital"
%meta{content: content_for?(:meta_author) ? "#{yield(:meta_author)}" : "Jeremy Ward", name: "author"}/
%meta{content: content_for?(:description) ? "#{yield(:description)}" : "", name: "description"}/

/ start: Mobile Specific
%meta{content: "width=device-width, initial-scale=1.0, user-scalable=no", name: "viewport"}/
/ start: Facebook Open Graph
%meta{content: content_for?(:title) ? "#{yield(:title)} | OC Digital" : "Custome Web Application Development | OC Digital", property: "og:title"}/
%meta{content: content_for?(:description) ? "#{yield(:description)}" : "", property: "og:description"}/
%meta{content: content_for?(:og_type) ? "#{yield(:og_type)}" : "", property: "og:type"}/
%meta{content: "Custome Web Application Development | OC Digital", property: "og:site_name"}/
%meta{content: content_for?(:og_url) ? "#{yield(:og_url)}" : "http://ocdigital.co", property: "og:url"}/
%meta{content: content_for?(:og_image) ? "#{yield(:og_image)}" : "#{image_url ''}", property: "og:image"}/
/ end: Facebook Open Graph
/ start: Twitter Card
%meta{content: "summary", name: "twitter:card"}/
%meta{content: "@jrmyward", name: "twitter:site"}/
%meta{content: content_for?(:title) ? "#{yield(:title)} | OC Digital" : "Custome Web Application Development | OC Digital", name: "twitter:title"}/
%meta{content: content_for?(:description) ? "#{yield(:description)}" : "", name: "twitter:description"}/
%meta{content: content_for?(:og_image) ? "#{yield(:og_image)}" : "#{image_url 'old_salmon_creek_trail.jpg'}", name: "twitter:image:src"}/
%meta{content: content_for?(:meta_twitter_creator) ? "#{yield(:meta_twitter_creator)}" : "@jrmyward", name: "twitter:creator"}/
/ end: Twitter Card
%link{href: content_for?(:canonical) ? "#{yield(:canonical)}" : "#{request.original_url}", rel: "canonical"}/