%section#hero
  #owl-main.owl-carousel.height-lg.owl-inner-nav.owl-ui-lg
    .item{style: "background-image: url(#{image_path 'slider01.jpg'});"}
      .container
        .caption.vertical-center.text-center
          %h2.fadeInDown-1.light-color Make your life easier!
          %p.fadeInDown-2.medium-color
            You have an idea. We can turn it into reality.
          .fadeInDown-3
            = link_to "Hire Us for Your Project", new_contact_path, class: 'btn btn-large'
    .item{style: "background-image: url(#{image_path 'slider02.jpg'});"}
      .container
        .caption.vertical-center.text-right
          %h2.fadeInLeft-1.light-color
            Simple and
            %br/
            Refreshing
          %p.fadeInLeft-2.light-color
            We innovate while keeping things simple,
            %br/
            so you get the most effective solution &ndash;
            %br/
            not the most expensive one.
          .fadeInLeft-3
            = link_to "Get started now", new_contact_path, class: 'btn btn-large'
    .item{style: "background-image: url(#{image_path 'slider05.jpg'});"}
      .container
        .caption.vertical-top.text-center
          %h2.fadeInDown-1.light-color
            We're Picky
            %br/
            You Should be Too
          %p.fadeInDown-2.medium-color
            Anyone can build you a website.
            %br/
            We want to understand your business so we can provide measurable returns.
          .fadeInDown-3
            = link_to "Get started now", new_contact_path, class: 'btn btn-large'

%section#who-we-are
  .container.inner-top.inner-bottom-sm
    .row
      .col-md-8.col-sm-9.center-block.text-center
        %header
          %h2.heading What We Do
          %p
            We build ambitious web applications that never lose sight of the people who use them. We inspire conversations between our customers and their customers, and create better products through feedback. We work with you to visualize, produce, and scale your application. We believe in greater success through stronger partnerships.
    .row.inner-top-sm
      .col-md-1
        .icon.pull-right
          %i.icon-lamp.icn
      .col-md-3.inner-bottom-xs
        %h2 Creativity
        %p.text-small
          We listen to your idea and work with you to make it even better. We'll help you keep what works, toss what doesn't, and build on your best ideas.
      .col-md-1
        .icon.pull-right
          %i.icon-heart-empty-1.icn
      .col-md-3.inner-bottom-xs
        %h2 Craftsmanship
        %p.text-small
          We take pride in the things we build. We strive to build applications that users adore and codebases that are efficient and  adaptable to change.
      .col-md-1
        .icon.pull-right
          %i.icon-star-empty-1.icn
      .col-md-3.inner-bottom-xs
        %h2 Quality
        %p.text-small
          We focus on short development cycles with fast feedback loops. Our process dramatically improves software quality and flexibility while reducing overall cost.

%section.light-bg
  .container.inner
    .row
      .col-md-8.col-sm-9.center-block.text-center
        %header
          %h2.heading Our Process
          %p
            We developed a solid process to make sure we're a great fit and can build awesome things together.
    .row.inner-top-sm
      .col-md-1
        .icon.pull-right
          %i.icon-ok-circle.icn
      .col-md-3.inner-bottom-xs
        %h2 Be Picky
        %p.text-small
          We’re picky and you should be too. We only work on projects that excite us. We refer over half of the projects we’re asked to consider. If we're not a fit for your project, we'll help you find someone who is.
      .col-md-1
        .icon.pull-right
          %i.icon-beaker.icn
      .col-md-3.inner-bottom-xs
        %h2 Collaborate
        %p.text-small
          To help you build your dream, we research and learn about your business and industry. We ask lots of questions. Not every client we work with knows the answers, but they all want to know. Sometimes the start of the project means we help you answer the questions before we decide to move forward.
      .col-md-1
        .icon.pull-right
          %i.icon-code.icn
      .col-md-3.inner-bottom-xs
        %h2 Iterate
        %p.text-small
          We like to get features in front of stakeholders as quickly as possible. This gives us a fast feedback loop; enabling us to change directions quickly. If you’re looking for a developer who disappears for a few weeks and comes back with something, you’re looking in the wrong spot.
    .row
      .col-md-1
        .icon.pull-right
          %i.icon-chat-1.icn
      .col-md-3.inner-bottom-xs
        %h2 Communicate
        %p.text-small
          Expect at least one call per week, usually two. They're short, but essential to make sure we're on the right track. We want you to ask quesions about how things are going so you aren't left in the dark.
      .col-md-1
        .icon.pull-right
          %i.icon-gauge.icn
      .col-md-3.inner-bottom-xs
        %h2 Measure
        %p.text-small
          At the end of each feature, we’ll make sure that we’re ready to measure its success so we know we’re building the right stuff. Getting features in front of your users fast is the best way for us all to stay on track.
      .col-md-1
        .icon.pull-right
          %i.icon-rocket.icn
      .col-md-3.inner-bottom-xs
        %h2 Have Fun
        %p.text-small
          Yeah, that’s right. We want to work with people we enjoy talking to; people who like to have fun and enjoy a bit of joking during calls. The end product will be awesome, the journey getting there should be equally rewarding!

%section#get-in-touch
  .container.inner
    .row
      .col-md-8.col-sm-9.center-block.text-center
        %header
          %h1 Want to work with us?
          %p
            We love building ambitious web applications.
            %br/
            We're looking forward to helping you build your next audatious idea!
        = link_to "Get in touch", new_contact_path, class: 'btn btn-large'

