!!!
%html{lang: "en"}
  %head
    = render "shared/layout_meta"
    / start: CSS
    = stylesheet_link_tag "ocd_theme_reen/reen_skrollr", media: "all", data: {'skrollr-stylesheet' => ''}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    / end: CSS
    / start: Java Script
    = javascript_include_tag "application", "data-turbolinks-track" => true
  %body
    - if Rails.env.production?
      / Google Tag Manager
      %noscript
        %iframe{height: "0", src: "//www.googletagmanager.com/ns.html?id=GTM-59RL53", style: "display:none;visibility:hidden", width: "0"}
      :javascript
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-59RL53');
      / End Google Tag Manager
    = render("shared/header")

    %main
      = yield(:content_top) if content_for?(:content_top)
      .container
        .row
          .span12
            - flash.each do |name, msg|
              %div{class: "alert alert-#{name == "notice" ? "success" : "error"}"}
                %a.close{"data-dismiss" => "alert", href: "#"} ×
              = msg
      = yield

    %footer.dark-bg
      = render("shared/footer_top")
      = render("shared/footer_bottom")